@model List<AccountManager>
@{
	ViewData["Title"] = "all users";
}
<h6> All User</h6>
<hr />
<table id="UserTable" class="table table-bordered table-striped table-hover">
	<thead class="table-info">
		<tr>
			<th>Name</th>
			<th>Sirname</th>
			<th>Username</th>
			<th>Created User</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach(AccountManager account in Model)
			{
				<tr>
					<td>@account.Name</td>
					<td>@account.Sirname</td>
					<td>@account.Username</td>
					<td>@account.CreatingUser</td>
					<td>
						<a class="btn btn-warning" asp-route-id="@account.Id" asp-controller="AccountManager" asp-action="CreateEditUser">Edit</a>
						
						<button onclick="onClickDelteButton(@account.Id)" class="btn btn-danger">Löschen</button>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

@section Scripts{
	<script>

		let table = new DataTable('#UserTable');

		function onClickDelteButton(id)
		{
			Swal.fire({
				title: 'are you sure to delete the account?',
				icon: 'error',
				showCloseButton: false,
				showCancelButton: true,
				focusConfirm: false,
				confirmButtonText:
					'Yes, I am'
			}).then((result) => {
				if (result.isConfirmed) {
					//Backend call to delete Account id

					$.ajax({
						type: "POST",
						url: "@Url.Action("DeleteAccountById")",
						data: { id: id },
						success: function (msg) {
							Swal.fire('account was successfully deleted!', '', 'success').then((result) => {
								location.reload()
							});
						},
						error: function (msg) {
							Swal.fire('something went wrong!', '', 'error')
						}
					});


				}
			})
		}

		
	</script>
	}